
<div class="container my-4">
    <h1 class="text-center my-4">
        <b class=" text-uppercase bg-info p-3">
            currency converter app
        </b>
    </h1>
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <h3 class="text-uppercase bg-info text-center p-3">
                <b>base-currency</b>
            </h3>
            <div class="form-group ">
                <select class="form-control" [(ngModel)]="basecurrency">
                    <option [value]="getcur" *ngFor="let getcur of conrencyname">{{getcur}}</option>
                </select>
                <input type="text" class="form-control my-4" [(ngModel)]="amount">
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <h3 class="text-uppercase bg-info text-center p-3">
                <b>current-currency</b>
            </h3>
            <div class="form-group">
                <select class="form-control" [(ngModel)]="currenttarget">
                    <option [value]="getcur" *ngFor="let getcur of conrencyname">{{getcur}}</option>
                </select>
                <input type="text" class="form-control my-4" [(ngModel)]="result">
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="button" (click)="onclickchnge()">
            convert-currency</button>
    </div>
</div>